@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Langar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}
// .overlay::after {
//   content: "";
//   background: url(/Projects/Intro-Component-With-Signup-Form/images/bg-intro-desktop.png)
//     no-repeat center center/cover;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   background-color: #130f40;
// }
html {
  height: 100%;
}
body {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  height: 100%;
  background-image: url(/Projects/Intro-Component-With-Signup-Form/images/bg-intro-desktop.png);
  // background-image: ;
  // background-repeat:   no-repeat;
  background-attachment: fixed;

  // url(/Projects/Intro-Component-With-Signup-Form/images/bg-intro-desktop.png);
  background-color: #130f40;
  .fm-profile {
    position: absolute;
    right: 1rem;
    top: 3rem;
    text-transform: uppercase;
    font-family: "Potta One", cursive;
    font-size: 0.75rem;

    padding: 0.3rem;
    border-radius: 3px;
    transition: all 0.3s;

    @media (max-width: 500px) {
      // top: 10rem;
      // right: 50%;
      // transform: translateX(50%);
      right: 5px;
      font-size: 0.5rem;
      // margin-top: 1.3rem;
    }

    a {
      color: azure;

      &:hover {
        color: deeppink;
      }
    }
  }

  #star {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5rem;
    // left: 5rem;
    // animation: spin 1s infinite alternate ease-in-out;
    // opacity: 0.5;

    &:first-child {
      left: 5rem;
    }
    &:nth-child(2) {
      right: 5rem;
    }
  }
}

.border-gradient {
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, rgb(76, 76, 198), #32c5e6);
}

.header {
  .container {
    text-align: center;
    padding-top: 1rem;

    h1 {
      width: fit-content;
      display: table;
      margin: 0 auto;
      padding-bottom: 0.3rem;
      margin-bottom: 1rem;
      font-family: "Potta One", cursive;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 55px;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 35px;
        height: 35px;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }
    p.cite {
      font-size: 0.9rem;
      width: fit-content;
      font-family: "Potta One", cursive;
      display: table;
      margin: 0 auto;
      margin-top: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 3px;
      color: #130f40;
      background-color: aliceblue;

      @media (max-width: 768px) {
        font-size: 0.75rem;
      }

      .fm {
        width: unset;
        height: 50px;
        border-radius: 50%;
        border: 3px solid aqua;
        transition: all 0.3s;

        @media (max-width: 768px) {
          height: 35px;
        }
        @media (max-width: 600px) {
          border-width: 1px;
          height: 20px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.gallery {
  .container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 3rem;
    padding-bottom: 3rem;

    .project-window {
      // border: 1px solid red;
      width: 75%;
      height: 350px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      overflow: hidden;
      // visibility: hidden;
      // opacity: 0;
      transition: all 0.3s;
      &.show {
        opacity: 1;
        visibility: visible;
      }

      .project-image {
        height: 60%;
        width: 100%;
        position: relative;

        .fm {
          position: absolute;
          width: unset;
          height: 50px;
          border-radius: 50%;
          border: 3px solid aqua;
          left: 1rem;
          top: 1rem;
          // animation: spin 1s infinite alternate ease-in-out;
          z-index: 100000;

          &:hover {
            transform: unset;
          }
        }

        img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%;
        background: #00b4db; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #0083b0,
          #00b4db
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #0083b0,
          #00b4db
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 1rem;
        h4 {
          width: fit-content;
          letter-spacing: 1px;
          border-bottom: 3px solid #fff;
          border-radius: 3px;
          margin-bottom: 0.5rem;
        }
        .links {
          display: flex;
          a {
            display: inline-block;
          }

          .link {
            img {
              width: 35px;
              margin-right: 1rem;
              transition: all 0.3s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

.container {
  .project-window {
    position: relative;
    #new-block {
      font-size: 0.8rem;
      font-family: "Potta One", cursive;
      letter-spacing: 3px;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 100;
      background: #f953c6; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #b91d73,
        #f953c6
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #b91d73,
        #f953c6
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 0.35rem 0.75rem;
      display: flex;
      border-radius: 50px;
      color: #00b4db;
      color: #130f40;

      // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      //   0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      -webkit-animation: glow 0.5s ease-in-out infinite alternate;
      -moz-animation: glow 0.5s ease-in-out infinite alternate;
      animation: glow 0.5s ease-in-out infinite alternate;
    }
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00b4db,
      0 0 40px #00b4db, 0 0 50px #00b4db, 0 0 60px #00b4db, 0 0 70px #00b4db;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #130f40, 0 0 40px #130f40,
      0 0 50px #130f40, 0 0 60px #130f40, 0 0 70px #130f40, 0 0 80px #130f40;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
    h1 {
      font-size: 30px !important;
    }

    #star {
      height: 15px !important;
      width: 15px;
      top: 0.5rem;
      &:nth-child(1) {
        left: 1rem;
      }
      &:nth-child(2) {
        right: 1rem;
      }
    }
  }

  .header {
    .container {
      p {
        img {
          width: 20px;
          height: 20px;
          margin-right: 0.35rem;
          margin-left: 0.35rem;
        }
      }
    }
  }
  .gallery {
    .container {
      grid-template-columns: 1fr;
      .project-window {
        width: 70%;
        height: 300px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
