@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
}
/* body::after {
  position: absolute;
  z-index: -1111;
  height: 100%;
  width: 100%;
  background-color: #f64f59;
  opacity: 0.5;
} */
#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  /* background-image: url(/bg-photo.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 19, 180, 0.5); /* Black background with opacity */
  z-index: -1;
}
/* a {
  display: block;
  margin: 1.5rem 0;
  text-decoration: none;
  background-color: black;
  padding: 1rem;
  display: block;
  m
  color: white;
  font-family: "JetBrains Mono", monospace;
  transition: all 0.3s;
  border-radius: 5px;
  line-height: 1.2;
  position: relative;
}
a:hover {
  transform: translateX(30px);
  color: violet;
}
.new {
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #12c2e9;  sans-serif;
  text-transform:
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); kground: -webkit-linear-gradient
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); kground: linear-gradient(
    to right,
    #f64f59,
    #c471ed,

  border-radius: 5px;
  font-size: 0.5rem;
  padding: 0.2rem;
  letter-spacing: 1px;
  margin-left: 0.5rem;
  display: inline-block;
  position: absolute;
  padding: 0.2rem;
  bottom: 17px;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 200px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 3rem;
  }
} */
