@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
}
a {
  display: block;
  margin: 1.5rem 0;
  text-decoration: none;
  background-color: black;
  padding: 1rem;
  width: 350px;
  color: white;
  font-family: "JetBrains Mono", monospace;
  transition: all 0.3s;
  border-radius: 5px;
  line-height: 1.2;
  position: relative;
}
a:hover {
  transform: translateX(30px);
  color: violet;
}
a.new::after {
  font-family: sans-serif;
  content: "NEW";
  color: #fff;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  font-size: 0.5rem;
  padding: 0.2rem;
  letter-spacing: 1px;
  margin-left: 0.5rem;
  display: inline-block;
  position: absolute;
  /* top: -5px; */
  bottom: 17px;
}
