//Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
// ## Colors

// ### Primary
$Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
// ### Neutral
$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: $Very-Light-Grayish-Blue;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3.5%;
  width: 1350px;
  // width: 100%;
  max-width: 100%;
  margin: 0 auto;
  // padding-bottom: 50px;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 100vh;
  h1 {
    margin-bottom: 2.1rem;
    color: $Grayish-Blue;
  }
}

.plan {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  h3 {
    color: $Light-Grayish-Blue;
  }
  .toggle {
    margin: 0 1rem;
    .checkbox {
      opacity: 0;
      position: absolute;
      &:checked + .label {
        .ball {
          transform: translateX(22px);
        }
      }
    }
    .label {
      position: relative;
      height: 30px;
      width: 55px;
      background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      border-radius: 50px;
      display: flex;
    }
    .ball {
      height: 25px;
      width: 25px;
      background-color: $Very-Light-Grayish-Blue;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      margin-top: -12px;
      left: 4px;
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}

.choices {
  display: flex;
  width: 100%;
  // padding: 0 2rem;
  // transform: scale(0.95);
  // width: 100%;
  // margin: 0 auto;

  .choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-right: 1rem;
    // width: 400px;
    // width: 90%;
    width: 33%;
    margin: 0 auto;
    // height: 450px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    &.popular-choice {
      background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      transform: scale(1.1);
      color: $Very-Light-Grayish-Blue;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      padding-top: 3.3rem;
      padding-bottom: 3rem;
      .price {
        color: $Very-Light-Grayish-Blue;
      }
      h3,
      h4 {
        color: $Very-Light-Grayish-Blue;
      }
      .advs {
        h4 {
          border-top-color: $Very-Light-Grayish-Blue;
          border-bottom-color: $Very-Light-Grayish-Blue !important;
        }
      }
      .btn {
        background-image: none;
        background-color: $Very-Light-Grayish-Blue;
        color: hsl(237, 63%, 64%);
        &:hover {
          background-color: transparent;
          background-image: none;
          border-color: #fff;
          color: #fff;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
    .price {
      display: flex;
      align-items: center;
      font-size: 4.3rem;
      padding-top: 1rem;
      margin-bottom: 1.3rem;
      color: $Dark-Grayish-Blue;
      // width: 230px;
      // width: 100%;
      // padding-right: 1.2rem;
      // padding-left: 1.2rem;
      span {
        font-size: 2.5rem;
        margin-right: 0.5rem;
      }
    }
    h3,
    h4 {
      color: $Grayish-Blue;
    }
    .advs {
      width: 100%;
      h4 {
        border-top: 1px dotted $Grayish-Blue;
        width: 100%;
        padding: 1.1rem 0;
        &:last-child {
          border-bottom: 1px dotted $Grayish-Blue;
          margin-bottom: 2rem;
        }
      }
    }
    .btn {
      cursor: pointer;
      text-transform: uppercase;
      outline: none;
      border: none;
      border-radius: 7px;
      background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      color: #fff;
      padding: 0.9rem 0;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      letter-spacing: 2px;
      transition: all 0.5s;
      border: 1px solid transparent;
      background-color: transparent;

      &:hover {
        // background-image: linear-gradient(#fff, #fff);
        background-image: none;
        border-color: hsl(237, 63%, 64%);
        color: hsl(237, 63%, 64%);
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  body {
    background-image: url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right -175px;
  }
  .container {
    padding-bottom: 0;
    .choices {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 400px;
      .choice {
        margin-right: 0;
        margin-bottom: 1.5rem;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        // width: 350px;
        // height: 450px;
        .price {
          font-size: 3.5rem;
        }

        &:nth-child(2) {
          transform: unset;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 13px;
  }
  .container {
    .choices {
      .choice {
        .price {
          font-size: 2.5rem;
        }
      }
    }
  }
}
