@use "sass:math";
@import "base";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "Do not use units when using the rem() function, only numbers";
  }
}

body {
  @extend %flex-center;
  height: 100vh;
  padding-inline: rem(50);
}

.error-message {
  color: $light-red;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  position: absolute;
  font-size: rem(11);
  bottom: rem(25);

  @media (max-width: 767px) {
    bottom: rem(40);

    font-size: rem(8);
  }
  @media (max-width: 600px) {
    bottom: rem(35);

    font-size: rem(7);
  }
}

.age-calc-box {
  width: rem(840);
  height: rem(640);
  background-color: $white;
  border-radius: 25px;
  border-bottom-right-radius: 25%;
  padding: rem(50);

  @media (max-width: 767px) {
    width: rem(500);
    height: rem(500);
    padding: rem(20) rem(40);
  }
  @media (max-width: 600px) {
    width: rem(380);
    height: rem(350);
    padding: rem(0) rem(30);
  }

  .dob__form {
    position: relative;
    height: rem(190);
    border-bottom: 1px solid $light-grey;
    display: flex;
    align-items: center;
    gap: rem(10);
    width: 100%;

    @media (max-width: 767px) {
      height: rem(180);
    }
    @media (max-width: 600px) {
      height: rem(160);
    }

    .dob__form-fields-container {
      width: 100%;
      display: flex;
      gap: rem(20);
    }

    .dob-form__field {
      display: flex;
      flex-direction: column;

      .dob-form__label {
        text-transform: uppercase;
        letter-spacing: rem(3);
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: rem(13);
        color: $smokey-grey;
        padding-bottom: rem(8);

        &.label-error {
          color: $light-red;
        }
      }

      .dob-form__input {
        position: relative;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        padding: rem(12);
        height: rem(70);
        width: rem(150);
        outline: none;
        border: 1px solid $light-grey;
        font-size: rem(25);
        border-radius: 5px;

        @media (max-width: 767px) {
          font-size: rem(20);

          height: rem(60);
          width: rem(115);
        }
        @media (max-width: 600px) {
          height: rem(55);
          width: rem(80);
        }

        &.error {
          border-color: $light-red;
        }
      }
    }

    .dob-form__submit {
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: -2rem;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: all 0.3s;
      &:hover {
        transform: translateY(5px);
      }
      &-icon {
        width: rem(50);
      }
    }
  }

  .time-counter {
    font-size: rem(80);
    font-weight: 900;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    margin-top: rem(10);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
      font-size: rem(40);
      height: 50%;
    }
    @media (max-width: 600px) {
      font-size: rem(30);
      height: 50%;
    }

    .time-counter__unit {
      .time-counter__value {
        color: $purple;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
