@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #f6f6fe;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3.5%;
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 100vh;
}
.container h1 {
  margin-bottom: 2.1rem;
  color: #6d708d;
}

.plan {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.plan h3 {
  color: #b3b5c6;
}
.plan .toggle {
  margin: 0 1rem;
}
.plan .toggle .checkbox {
  opacity: 0;
  position: absolute;
}
.plan .toggle .checkbox:checked + .label .ball {
  transform: translateX(22px);
}
.plan .toggle .label {
  position: relative;
  height: 30px;
  width: 55px;
  background-image: linear-gradient(#a3a8f0, #696fdd);
  border-radius: 50px;
  display: flex;
}
.plan .toggle .ball {
  height: 25px;
  width: 25px;
  background-color: #f6f6fe;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  margin-top: -12px;
  left: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.choices {
  display: flex;
  width: 100%;
}
.choices .choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.choices .choice.popular-choice {
  background-image: linear-gradient(#a3a8f0, #696fdd);
  transform: scale(1.1);
  color: #f6f6fe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding-top: 3.3rem;
  padding-bottom: 3rem;
}
.choices .choice.popular-choice .price {
  color: #f6f6fe;
}
.choices .choice.popular-choice h3,
.choices .choice.popular-choice h4 {
  color: #f6f6fe;
}
.choices .choice.popular-choice .advs h4 {
  border-top-color: #f6f6fe;
  border-bottom-color: #f6f6fe !important;
}
.choices .choice.popular-choice .btn {
  background-image: none;
  background-color: #f6f6fe;
  color: #696fdd;
}
.choices .choice.popular-choice .btn:hover {
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  color: #fff;
}
.choices .choice:last-child {
  margin-right: 0;
}
.choices .choice .price {
  display: flex;
  align-items: center;
  font-size: 4.3rem;
  padding-top: 1rem;
  margin-bottom: 1.3rem;
  color: #494c5f;
}
.choices .choice .price span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}
.choices .choice h3,
.choices .choice h4 {
  color: #6d708d;
}
.choices .choice .advs {
  width: 100%;
}
.choices .choice .advs h4 {
  border-top: 1px dotted #6d708d;
  width: 100%;
  padding: 1.1rem 0;
}
.choices .choice .advs h4:last-child {
  border-bottom: 1px dotted #6d708d;
  margin-bottom: 2rem;
}
.choices .choice .btn {
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(#a3a8f0, #696fdd);
  color: #fff;
  padding: 0.9rem 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  transition: all 0.5s;
  border: 1px solid transparent;
  background-color: transparent;
}
.choices .choice .btn:hover {
  background-image: none;
  border-color: #696fdd;
  color: #696fdd;
}

@media only screen and (max-width: 1040px) {
  body {
    background-image: url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: top right -175px;
  }

  .container {
    padding-bottom: 0;
  }
  .container .choices {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  .container .choices .choice {
    margin-right: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .container .choices .choice .price {
    font-size: 3.5rem;
  }
  .container .choices .choice:nth-child(2) {
    transform: unset;
  }
}
@media only screen and (max-width: 320px) {
  body {
    font-size: 13px;
  }

  .container .choices .choice .price {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
