@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,300;1,700&display=swap");

// Dark Mode Elements
$Dark-Blue: hsl(209, 23%, 22%);
// Dark Mode Background
$Very-Dark-Blue-dk-bg: hsl(207, 26%, 17%);
// Light Mode Text
$Very-Dark-Blue-light-text: hsl(200, 15%, 8%);
// Light Mode Input
$Dark-Gray: hsl(0, 0%, 52%);
// Light Mode Background
$Very-Light-Gray: hsl(0, 0%, 98%);
// Dark Mode Text & Light Mode Elements
$White: hsl(0, 0%, 100%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}
img {
  width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: $Very-Light-Gray;
  transition: all 0.3s;

  // Dark Mode
  &.dark {
    background-color: $Very-Dark-Blue-dk-bg;
    .btn {
      &-toggle {
        color: $White;

        .fa-sun {
          display: inline-block;
        }
        .fa-moon {
          display: none;
        }
      }
    }
    header {
      background-color: $Dark-Blue;
      color: $White;
    }
    #countries {
      .country {
        background-color: $Dark-Blue;
        color: $White;
      }
    }
    input,
    .dropdown {
      background-color: $Dark-Blue;
      color: $White;

      &__list {
        background-color: $Dark-Blue;
      }
    }
  }
}

// Header
header {
  background-color: $White;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.24);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    display: flex;
    align-items: center;
    outline: none;

    &-toggle {
      border: none;
      font-size: 1rem;
      background-color: transparent;
      transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        color: #3498db;
      }
      .fa-sun {
        display: none;
      }
      .mode {
        margin-left: 0.25rem;
      }
    }
  }
}

// Search Section
.search__section {
  margin-bottom: 1.5rem;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input.search {
    padding: 1.3rem;
    border-radius: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
    font-size: 0.75rem;
    width: 50%;
    max-width: 300px;
    &::placeholder {
      font-family: "Nunito Sans", sans-serif;
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    background-color: $White;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1.225rem;
    font-size: 0.75rem;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    &.open {
      display: block;
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .fa-chevron-down {
        margin-left: 1rem;
      }
    }

    &__list {
      position: absolute;
      width: 100%;
      background-color: $White;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.24);
      padding: 1.3rem;
      border-radius: 4px;
      top: 66px;
      left: 0;
      display: none;
      transition: all 0.3s;
      li {
        font-size: 0.9rem;
        &:hover {
          color: $Dark-Gray;
          text-decoration: underline;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      &.open {
        display: block;
      }
    }
  }
}

// Countries Section
.countries__section {
  #countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .country {
      background-color: $White;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.06), 0 1px 5px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      overflow: hidden;
      transition: all 0.3s;
      cursor: pointer;
      width: 300px;
      height: 400px;
      margin: 2rem;
      margin-bottom: 5rem;

      &__header {
        img {
          object-fit: cover;
          height: 200px;
        }
      }

      &:hover {
        box-shadow: 0 3px 14px rgba(0, 0, 0, 0.06),
          0 1px 12px rgba(0, 0, 0, 0.24);
        transform: scale(1.0001);
      }

      &__body {
        padding: 2rem 1.5rem;
      }
    }
  }
}

// Modal Styling
.modal-container {
  .modal {
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: $White;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      // alig
    }

    .btn-close {
      border: none;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 20px;
      background-color: transparent;
      z-index: 99999;
    }

    &__image {
      width: 30%;
      // max-height: 400px;
      margin-right: 1rem;
      box-shadow: 0 3px 14px rgba(0, 0, 0, 0.06), 0 1px 12px rgba(0, 0, 0, 0.24);
      @media screen and (max-width: 600px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
    &__info {
      width: fit-content;
      p {
        margin-bottom: 0.25rem;
      }
      .border__info {
        display: inline-block;
        border: 1px solid $Dark-Gray;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.06), 0 1px 7px rgba(0, 0, 0, 0.24);
        padding: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 5px;
        font-size: 0.7rem;
        margin-top: 0.25rem;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
