@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Jannat LT";
  src: url("/fonts/alfont_com_Janna-LT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Black";
  src: url("/fonts/alfont_com_AlFont_com_Avenir-Black.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

$primary-color: #db0d0d;
$white: #fff;
$black: #0a0a0a;
$gray: #5c5c5c;
$soft-white: rgba(255, 255, 255, 0.3);
$nav-color: #1e1e1e;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.5;
  background-color: $black;
  color: $white;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  // text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 16px;
  font-size: 16px;
  padding: 20px 10px;
  background-color: $primary-color;
  height: 38px;
  cursor: pointer;
  display: inline-block;
  width: 118px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  transition: all 0.3s;
  border-radius: 3px;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

#number {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: -6px;
  left: -7px;
  font-size: 10px;
  background-color: $primary-color;
  border-radius: 50px;
  height: 12.6px;
  width: 12.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 9px;
}

.container {
  width: 1004px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2rem;
}

.upper-bar {
  border-bottom: 1px solid rgba(221, 221, 221, 0.25);
  font-family: "Jannat LT", sans-serif; /* Use Jannat LT font for the upper bar */
  margin-bottom: 20px;

  .container {
    display: flex;
    justify-content: flex-end;

    .lang {
      a.link {
        display: inline-block;
        color: #fff;
        height: 32px;
        width: 32px;
        transition: all 0.3s;
        font-size: 12px;

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {
        height: 100%;
      }
    }

    .search-bar {
      .search_box {
        display: flex;
        align-items: center;
        width: 540px;
        position: relative;
        height: 40px;

        .input {
          width: 100%;
          height: 100%;
          padding: 10px;
          border: 1px solid $gray;
          outline: none;
          color: $primary-color;
          background-color: transparent;
        }

        .search_btn {
          display: flex;
          position: absolute;
          right: 0;
          z-index: 99;
          background-color: $primary-color;
          width: 50px;
          height: 40px;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .magnifier-img {
            height: 16px;
          }
        }
      }
    }

    .sign {
      a {
        color: $white;
        transition: all 0.3s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .notif {
      position: relative;

      .notif-link {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.navbar {
  background-color: $nav-color;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      padding-right: 64px;

      &:last-child {
        padding: 0;
      }

      &:first-child a {
        color: $primary-color;
      }

      a {
        color: $white;
        transition: all 0.3s;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &-img {
      padding-right: 6px;

      &:hover {
        transform: scale(1.2);
      }
    }
    span {
      font-size: 16px;
      line-height: 19.2px;

      a {
        color: $white;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.hero-section {
  background-image: url("./images/hero-image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 584px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/Mask.png");
    background-size: cover;
    background-position: center;
    z-index: 0; /* Ensure that the overlay is behind other content */
  }

  .hero-content {
    position: relative;

    .hero-heading {
      width: 750px;
      font-weight: 800;
      letter-spacing: 1px;
      font-style: italic;
      font-size: 54px;
      line-height: 54px;

      span {
        display: block;
        width: 800px;
      }
    }

    .small-heading {
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 26.4px;
      font-size: 22px;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 10px;
    }

    .boxes {
      display: flex;
      justify-content: center;
      margin: 50px 0 20px 0;

      .box {
        width: 22px; /* Adjust width as needed */
        height: 12px; /* Adjust height as needed */
        background-color: $soft-white;
        text-align: center;
        line-height: 200px; /* Center content vertically */
        font-size: 1.5rem;
        margin-right: 8px;
        transition: all 0.1s;
        cursor: pointer;

        &:first-child {
          background-color: $primary-color;
        }
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}

.courses-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 102px;
  margin-bottom: 174px;

  .courses-heading {
    font-size: 46px;
    font-weight: 800;
    font-style: italic;
  }
  .courses {
    display: flex;

    margin-top: 40px;

    .course {
      width: 302px;
      height: 340px;
      text-align: left;
      padding: 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      h4 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
      }
      p {
        padding: 20px 0 10px 0;
        font-size: 18px;
      }

      .btn {
        width: 70px;
        height: 28px;
        color: $white;
        border: none;
        outline: none;
        font-size: 12px;
        padding: 7px 12px;
      }

      &-1 {
        background-image: url("./images/c1.png");
      }
      &-2 {
        background-image: url("./images/c2.png");
      }
      &-3 {
        background-image: url("./images/c3.png");
      }
    }
  }
}

.about-us {
  height: 612px;
  width: 100%;
  background-image: url("./images/Group\ 6.svg");
  background-size: cover;
  background-position: center -5%;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 200px;

  .about-content {
    position: absolute;
    top: 50%;
    transform: translateY(
      -50%
    ); /* Translate the paragraph up by half of its own height */
    right: 276px;
    width: 519px;

    h3 {
      font-size: 46px;
      font-weight: 800;
      font-style: italic;
      text-transform: uppercase;
      font-family: "Barlow", sans-serif;
    }

    p {
      font-size: 24px;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.footer {
  padding-bottom: 30px;
  padding-top: 60px;
  background-color: #1e1e1e;
  .upper-section {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    .subs-bar {
      width: 66%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .newsletter {
        h3 {
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          font-size: 22px;
          color: rgba(255, 255, 255, 0.75);
          span {
            display: block;
            font-size: 20px;
            color: $white;
          }
        }
      }
      .subs-box {
        display: flex;
        align-items: center;
        width: 540px;
        position: relative;
        height: 40px;

        .subs_input {
          font-family: "Montserrat", sans-serif;
          height: 42px;
          width: 100%;
          padding: 13px 18px;
          border: 1px solid $gray;
          outline: none;
          color: $primary-color;
          background-color: transparent;
          font-size: 14px;
          margin-left: 55px;

          &::placeholder {
            color: rgba(255, 255, 255, 0.5);
          }
        }

        .subs_btn {
          font-family: "Montserrat", sans-serif;
          display: flex;
          position: absolute;
          right: 0;
          z-index: 99;
          background-color: $primary-color;
          width: 100px;
          height: 40px;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          color: $white;
          line-height: 17px;
          font-weight: 600;
          height: 100%;
          outline: none;
          border: none;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.25);
          }
        }
      }
    }
  }

  .lower-section {
    display: flex;
    justify-content: space-between;

    .lower-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .footer-info {
        width: 210px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.75);
        line-height: 15px;
      }

      .social-follow {
        span {
          display: inline-block;
          margin-bottom: 15px;
        }

        .social-plats {
          img {
            margin-right: 10px;
            height: 24px;
            transition: all 0.3s;
            &:hover {
              transform: scale(1.3);
            }
          }
        }
      }
    }

    .lower-right {
      width: 66%;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
      grid-gap: 20px; /* Gap between columns */
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 20px;
          a {
            color: #fff;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            transition: all 0.3s;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.inova {
  background-color: #fff;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;

  .developed-by {
    font-family: "Avenir Black", sans-serif;
    font-weight: 400;
    color: #7f7f7f;
    padding-right: 5px;
    font-size: 12px;
    line-height: 16.39px;
  }
}

// course page

.course-section {
  margin-top: 40px;
  margin-bottom: 160px;
  .course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;

    .course-details {
      h2.course-name {
        font-family: "Barlow";
        text-transform: uppercase;
        font-style: italic;
        font-weight: 800;
        font-size: 46px;
        line-height: 55px;
        width: 480px;
        color: $white;
      }
      .course-rating {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .stars-rating {
          display: flex;
          margin-right: 10px;

          img {
            margin-right: 6px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .num-of-subs {
          font-family: "Barlow", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 14px;
          color: #ededed;
        }
      }
    }

    .course-actions {
      text-align: right;
      .price {
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 20px;

        span {
          font-weight: 500;
          font-size: 28px;
          line-height: 34px;
        }
      }

      .pay-btns {
        display: flex;

        .pay-button {
          font-family: "Barlow", sans-serif;
          background-color: $primary-color;
          text-align: center;
          width: 220px;
          height: 50px;
          outline: none;
          border: none;
          color: $white;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            transform: scaleY(1.15);
            opacity: 0.8;
            background-color: transparent;
            border: 1px solid $primary-color;
          }
        }

        .add-to-cart-button {
          background-color: transparent;
          outline: none;
          border: 1px solid $primary-color;
          width: 50px;
          height: 50px;
          text-align: center;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: $white;
            transform: scaleY(1.15);
          }
        }
      }
    }
  }

  .course-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 80px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(22, 22, 22, 0) 20.59%,
        #161616 100%
      );
      border-radius: inherit; /* Inherit border radius from parent */
      /* Mask */

      transform: rotate(-180deg);
    }

    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 82px; /* Adjust button size as needed */
      height: 82px;
      background-color: #fcfcfc;
      border: none;
      border-radius: 50%; /* Make the button circular */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 0.8;
      }

      img {
        display: flex;
        margin-left: 8px;
      }
    }
  }

  .course-tabs {
    .tabs {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      margin-bottom: 60px;
    }
    .tab-button {
      border: none;
      background-color: transparent;
      color: $white;
      cursor: pointer;
      font-size: 16px;
      margin-right: 10px;
      outline: none;
      border-bottom: 6px solid transparent; /* Initial border */
      padding-bottom: 25px;
      margin-right: 60px;

      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.666667px;
      transition: all 0.3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-bottom: 6px solid $primary-color;
        color: $primary-color;
      }
      &.active {
        border-bottom: 6px solid $primary-color;
        color: $primary-color;
      }
    }
    .tab-content {
      position: relative;
      .price {
        position: absolute;
        height: 100px;
        width: 200px;
        border: 1px solid rgba(255, 255, 255, 0.54);
        color: $primary-color;
        top: 60px;
        right: 0;
        font-family: "Barlow";
        font-weight: 700;
        font-size: 44px;
        line-height: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
        text-align: center;

        span {
          font-weight: 500;
          font-size: 28px;
          line-height: 34px;
          margin-right: 8px;
          align-self: flex-end;
        }
      }
      .level {
        margin-bottom: 40px;
      }

      h2 {
        font-family: "Barlow", sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 20px;
      }
      cite {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: rgba(255, 255, 255, 0.75);
        width: 622px;
      }

      .course-cards {
        margin-top: 100px;
        display: flex;
        margin-bottom: 100px;

        .card {
          font-family: "Barlow";
          font-style: normal;
          border: 1px solid rgba(255, 255, 255, 0.54);
          width: 246px;
          margin-right: 20px;
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: all 0.3s;
          padding: 24px 15px;
          &:last-child {
            margin-right: 0;
            width: 435px;
          }

          &:hover {
            border: 1px solid $primary-color;
            transform: scale(1.05);
          }

          h2 {
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0.833333px;

            img {
              margin-right: 3px;
            }
          }

          p {
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            display: flex;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.533333px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.course-content {
  h2 {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 800;
    font-size: 46px;
    line-height: 55px;
    letter-spacing: 0.833333px;
    margin-bottom: 20px;
  }

  .weeks {
    font-family: "Barlow";
    .week {
      display: flex;
      &-num {
        font-style: italic;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.833333px;
        margin-right: 120px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        margin-bottom: 40px;

        img {
          transition: all 0.3s;
          cursor: pointer;
        }

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.8px;
        }
      }

      .hidden-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .lecture {
          display: none;
          flex-grow: 1;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 45px;

          span {
            margin: 0 10px;
          }
          &-title {
            display: flex;
          }
          &-duration {
            display: flex;

            img {
              margin-left: 10px;
            }
          }
        }
      }

      &.active {
        .lecture {
          display: flex;
        }

        .section {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

#instructors {
  .instrs {
    display: flex;
    align-items: center;
    justify-content: center;
    .instr {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 280px;
      width: 380px;
      border: 1px solid rgba(255, 255, 255, 0.54);
      .photo {
        border-radius: 50%;
        width: 94px;
        height: 94px;
        border: 1.2px solid #fff;
      }
      .name {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 12px;
      }
      .red-border {
        width: 36px; /* Set the width of the border */
        height: 2px; /* Set the height of the border */
        background-color: $primary-color; /* Border color */
        margin-bottom: 20px; /* Add margin between the border and the job */
      }
      .job {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.75);
      }
    }
    .first_instr {
      margin-right: 20px;
    }
  }
}
