@import "config";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $Very-Dark-Blue-BG;
  font-family: "Inter", sans-serif;

  &.light {
    background-color: #fff;
    .background-box {
      background-color: $Very-Pale-Blue-Top-BG-Pattern;
    }
    .container {
      .header {
        .header_left {
          .header_title {
            color: $Very-Dark-Blue-Text;
          }
        }
        .header_right {
          h4 {
            color: $Dark-Grayish-Blue-Text;
          }
        }
      }
      .cards {
        .card {
          background-color: $Light-Grayish-Blue-Card-BG;
          .social-media-tag {
            color: $Dark-Grayish-Blue-Text;
          }
          .followers {
            .followers_number {
              color: $Very-Dark-Blue-Text;
            }
            .followers_subtext {
              color: $Dark-Grayish-Blue-Text;
            }
          }
        }
      }
      .bottom-cards {
        .card-columns {
          .card-column {
            .card_overview-type {
              color: $Dark-Grayish-Blue-Text;
            }
            .card_overview-value {
              color: $Very-Dark-Blue-Text;
            }
          }
        }
      }
    }
  }
}

.background-box {
  width: 100%;
  max-width: 1440px;
  height: 245px;
  position: absolute;
  z-index: -1;
  background-color: $Very-Dark-Blue-TOP-BG-Pattern;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container {
  width: auto;
  max-width: 1110px;
  margin: 2.2rem auto;

  .header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    // height: 100px;
    .header_left {
      .header_title {
        font-size: 1.65rem;
      }
      .header_subtext {
        color: $Dark-Grayish-Blue-Text;

        font-size: 0.9rem;
        font-weight: 700;
      }
    }

    .header_right {
      display: flex;
      align-items: center;
      h4 {
        color: $Toggle-Light;
        margin-right: 0.5rem;
      }
      .checkbox {
        opacity: 0;
        position: absolute;
        &:checked + .label {
          background: $Toggle-Light;

          .ball {
            transform: translateX(24px);
            background-color: #fff;
          }
        }
      }
      .label {
        background: linear-gradient(to left, $Toggle-Dark-1, $Toggle-Dark-2);

        display: flex;
        border-radius: 50px;
        height: 26px;
        width: 50px;
        position: relative;
        .ball {
          height: 22px;
          width: 22px;
          position: absolute;
          top: 2px;
          left: 2px;
          background-color: $Very-Dark-Blue-TOP-BG-Pattern;

          border-radius: 50%;
          transition: all 0.25s linear;
        }
      }
    }
  }
  // Top-Cards
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 3rem;

    .card {
      width: 100%;
      height: auto;
      border-radius: 8px;
      background-color: $Dark-Desaturated-Blue-Card-BG;
      padding: 25px;
      text-align: center;
      position: relative;
      color: $Toggle-Light;

      // Top-Border
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background-color: transparent;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &-fb::before {
        background-color: $Facebook;
      }
      &-tweet::before {
        background-color: $Twitter;
      }
      &-ig::before {
        background-color: transparent;
        background-image: linear-gradient(to left, #fdc468, #df4996);
      }
      &-yt::before {
        background-color: $YouTube;
      }
      .social-media-tag {
        font-weight: 700;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-right: 10px;
        }
      }
      .followers {
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        &_number {
          font-size: 60px;
          font-weight: 700;
          color: #fff;
        }
        &_subtext {
          font-size: 12px;
          letter-spacing: 6px;
        }
      }
      .change {
        color: $Lime-Green;
        font-weight: 700;
        font-size: 12px;
        &-negative {
          color: $Bright-Red;
        }
      }
    }
  }
  // Bottom Cards
  .bottom-cards {
    margin-top: 50px;
    h2 {
      font-size: 1.5rem;
      color: #fff;
      margin: 0;
    }
    .cards {
      margin-top: 2.5rem;
      .card-columns {
        display: flex;
        justify-content: space-between;
        .card-column {
          // display: flex;
          // flex-direction: column;
          // justify-content: space-between;
          display: grid;
          // grid-template-rows: 1fr 1fr;
          row-gap: 25px;
          text-align: left;
          .card_overview-type {
            font-size: 0.9rem;
            font-weight: 700;
          }
          .card_overview-value {
            font-size: 2.25rem;
            font-weight: 700;
            color: #fff;
            line-height: 0.9em;
          }
          &:nth-child(2) {
            text-align: right;
            .change {
              display: flex;
              align-items: flex-end;
            }
          }
        }
      }
    }
  }
}

// Media Queries

@media (max-width: 960px) {
  .container {
    padding: 25px;
    margin-top: 10px;
    .header {
      flex-direction: column;
      .header_left {
        border-bottom: 1px solid hsla(228, 34%, 66%, 0.7);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      .header_right {
        justify-content: space-between;
      }
    }
    .cards {
      grid-template-columns: 1fr;
    }
  }
}
